# =========================
# ENV
# =========================
.env
.env.*

# =========================
# Python
# =========================
__pycache__/
*.pyc
env/
venv/
.env/

# Django
db.sqlite3
media/
staticfiles/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log